<style>
    .vb_chart_container{
        width: 100%;
        height: 100%;
        background-color: red;
    }
</style>
<div class="row">
    <div class="col-2">Data Set
        <div class="vb_chart_container">
             
        </div>
    </div>
    <div class="col-2">Parameters</div>
    <div class="col-8">Charts</div>
</div>